.front {
  width: 20px;
  height: 20px;
  border: none;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 4px solid #aaffff;
  color: #aaffff;
}

.back {
  background-image: url('./j.png');
  background-size: cover;
   border: 4px solid #aaffff;
}
.box {
  display: flex;
  width: 100%;
  background-color: #999;
  
}
#left {
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: #282c35;
}


